<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
	<div class="header">
		<h1>COSMIN WHAT!</h1>
		<p>MIEMBRO DE WHAT! PARKOUR</p>
	</div>

	<div class="menu">
		<span><a href="index.html">WHAT!</a></span>
        <span><a href="shifer.html">Shifer WHAT</a></span>
        <span><a href="guille.html">Guille WHAT</a></span>
		<span><a href="cosmin.html">Cosmin WHAT</a></span>
	</div>

	<div class="contenido">
		<div class="izquierda">
			<div class="item">
			 <h2>¿Quien es Cosmin?</h2>
			 <h3>Cosmin es el miembro de WHAT que sorprende con la enorme precisión que tiene al caer en muros o hacer algun reto, es sorpendente ver cómo pincha. (Pinchar es caer en un muro sin que tu pie rebace la zona del metatarso)</h3>
			 <img src="cosmin.jpg" alt="" class="imagen">
			</div>
		</div>

		<div class="derecha">
			<div class="item">
				<h2>Participantes</h2>
				<h3>-Antonio Mojonero (Shifer)<br>
				-Guillermo Ibañez (Guille) <br>
			    -Cosmin Marius (Cosmin)
			</h3>
				<img src="parkour" alt="" width="100px">
			</div>
		</div>
	</div>
	<div class="footer">
		<h2>&copy; 2019</h2>
	</div>

</body>
</html>