<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
	<div class="header">
		<h1>WHAT!</h1>
		<p>UN GRUPO DE PARKOUR DE ESPAÑA</p>
	</div>

	<div class="menu">
		<span><a href="index.html">WHAT!</a></span>
        <span><a href="shifer.html">Shifer WHAT</a></span>
        <span><a href="guille.html">Guille WHAT</a></span>
		<span><a href="cosmin.html">Cosmin WHAT</a></span>
	</div>

	<div class="contenido">
		<div class="izquierda">
			<div class="item">
			 <h2>¿Quienes son WHAT?</h2>
			 <h3>WHAT! es una comunidad de jovenes que practican el parkour como un deporte, una pasión y que además pudieron hacerlo un trabajo para ellos.</h3>
			 <img src="what.jpg" alt="" class="imagen">
			</div>
		</div>

		<div class="derecha">
			<div class="item">
				<h2>Participantes</h2>
				<h3>-Antonio Mojonero (Shifer)<br>
				-Guillermo Ibañez (Guille) <br>
			    -Cosmin Marius (Cosmin)
			</h3>
				<img src="parkour" alt="" width="100px">
			</div>
		</div>
	</div>
	<div class="footer">
		<h2>&copy; 2019</h2>
		<p>by Cristian Escobar</p>
	</div>

</body>
</html>
